<% provide(:title, title) %>
<div class="container">
  <div class="card mb-3 shadow-lg rounded border">

    <div class="card-body text-dark">
      <% unless @page.body.blank? %>
        <%# nosem: HTML is sanitized via Sanitize::Config::RELAXED %>
        <%== Sanitize.fragment(@page.body, Sanitize::Config::RELAXED) %>
      <% end %>
    </div>
  </div>
  <%= link_to "edit", edit_page_path(@page), data: { turbo: false }, class: "btn btn-sm btn-outline-danger" if admin_user? %>
</div>
