
<% provide(:title, "Contact Us") %>

<div class="card mb-3 p-3 shadow-lg rounded border">
  <div class="row align-items-start card-body text-dark">
    <div class="col">
        <%= render 'form' %>
    </div>
    <div class="col p-2 rounded-lg m-1">

      <% @page.body ||= "no content available."%>
      <% begin %>
        <%# nosemgrep: HTML is sanitized via Sanitize::Config::RELAXED %>
        <%== Sanitize.fragment(@page.body, Sanitize::Config::RELAXED) %>
      <% rescue StandardError => e %>
        <%= "An error occurred while displaying the contact us content. Please contact support." %>
      <% end %>

    <%= link_to "edit", edit_page_path(@page), 
        data: { turbo: false }, class: "btn btn-sm btn-outline-danger" if admin_user? %>
    </div>
  </div>
</div>

