<footer class="text-center mt-auto small footer">
  <div class="bg-secondary container-fluid">

    <div class="row p-1">
      <div class="col d-flex align-items-center">
        <%= link_to "Contact Us", new_contact_form_path, data: { turbo: false }, class: "text-light-footer" %>
      </div>
      <div class="col">
        <%= link_to "Terms & Conditions", terms_path, data: { turbo: false }, class: "text-light-footer" %>
      </div>
      <div class="col">
        <%= link_to "Privacy Policy", privacy_policy_path, data: { turbo: false }, class: "text-light-footer" %>
      </div>
      <div class="col d-flex align-items-center justify-content-end">
        <a href="https://www.facebook.com/pages/category/Outdoor---Sporting-Goods-Company/Novi-tec-Performance-Carburetors-525332107541832/" 
            class="me-4 text-light-footer" target="_blank">
          <i class="bi-facebook"></i>
        </a>
      </div>
    </div>
  </div>

  <div class="container-fluid text-center" style="background-color: #f7941e;">
    <div class="row p-2" style="font-size:9pt">
      <div class="col text-start">
        © 2022 Copyright:
        <a class="text-dark-footer" href="\">novi-tec.com</a>
      </div>
      <div class="col text-end">
        Developed by: 
        <a href="#" class="text-dark-footer">NTR Computer Services</a>
      </div>
    </div>

 </div>

</footer>
